# Python
__pycache__/
*.pyc

# Environments
.env
.venv/
env/
venv/

# OS-specific
.DS_Store

# Chroma DB / Vector files
chroma/
chromadb/
*.sqlite3
*.log

# Streamlit secrets
.streamlit/secrets.toml

# VSCode
.vscode/

# Knowledge base
kb/
